<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to SummaryBuddy</h1>
    <p>This is a simple chrome extension that can extract the most important information from any webpage you visit. &lpar;Works best with pages that have long bodys of text&rpar;</p>
    <iframe src="https://giphy.com/embed/EwwHX78xRXN0o2ncPm" width="480" height="480" frameborder="0" class="giphy-embed" allowfullscreen></iframe><p><a href="https://giphy.com/gifs/kpop-eunchae-hong-EwwHX78xRXN0o2ncPm">via GIPHY</a></p>
</body>
</html>